<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="bookmark-outline"></ion-icon> Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let categorie of this.allCategories">
    <ion-card-header >
      <ion-card-title>{{categorie.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{categorie.description}}</p>
      <div class="align-right">
        <ion-fab style="position: relative;">
          <ion-fab-button (click)="editCategory(categorie)" size="small">
            <ion-icon name="pencil"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab style="position: relative;">
          <ion-fab-button (click)="deleteCategorie(categorie.id)" size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </ion-card-content>
  </ion-card>

  <app-add-categorie #modalCategory (refresh)="refreshCategoriesList()"></app-add-categorie>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  id="open-modal-category" expand="block" color="primary" title="Add a category">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
