<ion-content>
  <div class="wrapper">
      <form [formGroup]="credentials" (ngSubmit)="submit()">
        <div>

          <ion-img [src]=""></ion-img>
          <h1>Alexandria</h1>


          <ion-label>Email</ion-label>
          <ion-item>
            <ion-input type="email" clearInput formControlName="email" (keyup.enter)="submit()"></ion-input>
          </ion-item>

          <ion-label>Password</ion-label>
          <ion-item>
            <ion-input type="password" clearInput formControlName="password" (keyup.enter)="submit()"></ion-input>
          </ion-item>
        </div>
        <div class="button">
          <ion-button expand="block" type="submit" shape="round" color="primary">Connect</ion-button>
          <p>New to Alexandria ? <a class="createAccountLink" [routerLink]="'/create-account'">Create Account</a></p>
        </div>
      </form>
    <ion-progress-bar type="indeterminate" *ngIf="showLoader" ></ion-progress-bar>

    <div class="error" *ngIf="this.error !== null && this.error !== undefined">
      <ion-icon [size]="'large'" name="warning-outline"></ion-icon>
      <span>{{this.error}}</span>
    </div>
    <div class="valid" *ngIf="this.valid">
      <ion-icon [size]="'200px'" name="checkmark-circle-outline"></ion-icon>
    </div>
  </div>
</ion-content>
