form{
  width: 100%;
  padding: 2rem;
}

ion-button{
  font-weight: bold;
}

.createAccountLink{
  font-weight: bold;
  font-size: 13.5pt;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-tem{
  display: flex;
  flex-direction: column;
}

.button{
  margin-top: 1.5rem;
}

.error {
  background-color: red;
  color: black;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.valid {
  padding: 2rem;
  display: flex;
  background-color: green;
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 60pt;
}

@media screen and (min-width: 769px) {
  form{
    width: 50vw;
  }

  .button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
