<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Email</ion-label>
    {{this.accountService?.loggedUser.email}}
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    {{this.accountService?.loggedUser.email}}
  </ion-item>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button color="danger" (click)="disconnect()">
        <ion-icon slot="start" name="exit"></ion-icon>
        Disconnect
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
