ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ion-img::part(image){
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 1rem;
}

