<ion-header>
  <ion-toolbar>
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentialsForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-grid>
        <ion-row class="camera">
          <app-select-picture [parentForm]="credentialsForm"></app-select-picture>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Lastname </ion-label>
            <ion-input formControlName="lastname"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Firstname </ion-label>
            <ion-input formControlName="firstname"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Phone </ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Email </ion-label>
            <ion-input type="email" formControlName="email" ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" clearInput formControlName="password"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" clearInput formControlName="confirmPassword"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
    <ion-button expand="block" color="primary" type="submit">Confirm</ion-button>
    <ion-button expand="block" color="secondary" (click)="cancel()">Cancel</ion-button>
    <a [routerLink]="'/login'">I already have an account</a>
    </ion-card>
  </form>

  <ion-progress-bar type="indeterminate" *ngIf="showLoader" ></ion-progress-bar>



  <div class="error" *ngIf="this.error !== null && this.error !== undefined">
    <ion-icon [size]="'large'" name="warning-outline"></ion-icon>
    <span>{{this.error}}</span>
  </div>
  <div class="valid" *ngIf="this.valid">
    <ion-icon [size]="'200px'" name="checkmark-circle-outline"></ion-icon>
  </div>

</ion-content>
