<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{book.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="book.photoView" *ngIf="book.photoView" style="width: 300px;"></ion-img>
  <p>
    Description: {{book.description}}
  </p>
  <p>
    Author: {{book.author}}
  </p>
  Categories:
  <div>
    <ion-chip *ngFor="let categorie of book.categories " [style.border-color]="categorie.color" [style.border-style]="'solid'" [style.border-width]="'2px'">{{categorie.title}}</ion-chip>
  </div>
</ion-content>
